* {
  margin:5px;
  padding: 0;
  /* box-sizing: border-box; */
}

#container {
  display: flex;
  flex-direction: column;
  top: 10px;
}
#main-container {
  display: flex;
  flex-direction: column;
  top: 10px;
}

#game-table {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  top: 20px;
}


#card {
  display: flex;
  background: rgb(182, 214, 240);
  width: 325px;
  border: 1px solid black;
  align-items: center;
  flex-wrap: wrap;
}
#playerCard {
  display: flex;
  background: rgb(236, 181, 236);
  width: 325px;
  border: 1px solid black;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(49, 70, 187);
  font-size: 2em;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}
.square:hover {background-color: rgb(245, 166, 230);}

.non-player-square {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(49, 70, 187);
  font-size: 2em;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}

form {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

form button {
  color: white;
  padding: 10px;
  font-size: 14px;
  background-color: #59A9E9;
}

form button:hover {
  background-color: rgb(80, 133, 150);
}
form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 1em;
}

.timer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#timer-button{
  display: flex;
  color: rgb(204, 170, 199);
  border-radius: 50%;
  padding: 10px;
  font-size: 14px;
  background-color: hsl(333, 13%, 50%);
}

.flash {
  animation-name: flash;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.timer .content-hidden {
  display: none;
}

@keyframes flash {
   from {color: red;}
   to {color: black;}
}

input {
  width: 75px;

}

.smiley:after {
  content: "\01F447";
}
